* {
    box-sizing: border-box;
    color: white;
  }
  footer{
    text-align: center;
    position: fixed;
    left:0;
    bottom:0;
  }
  body {
    height:100vh;
    background-image: url("images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;

  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    z-index: 999;
  }
  
  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin-right: 20px;
    padding: 2.5%;
    list-style-type: "\23AF";
  }
  
  
  h1 {
    font-size: 35px;
    margin: 0;
  }
  
  .col {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .section_headers {
    color: white;
    font-size: large;
    transition: color 0.2s, font-size 0.2s;
  }
  