div.container{
    background-color: black;
    color:white;
    margin-top: 0;
    padding: 0;
    display:grid;
    grid-template-columns: 6fr 1fr 1fr 1fr 1fr 1fr ;
    justify-content: center;
    align-items: center;
}
h1{
    margin-left: 5%;
}